@{
    ViewData["Title"] = "Home Page";
  //  Layout = "~/Views/Home/_Layout.cshtml";
}
<style>
    .cnt{
        display:flex;
    }
    .subcnt{
        flex:1;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
    }
</style>
<div>
    <img style="width:100%" src="imgs/home-bg.jpg" class="img-fluid"/>
</div>
<div class="cnt">
    <div class="subcnt">
         <img width="150px" src="imgs/digital-inventory.png"/>
                  <h4>Digital Book Inventory</h4>
                  <p class="text-justify">In India, the Copyright Act has a limited clause in its “fair dealing” provision allowing libraries to store digital copies of works already in their possession</p>
    </div>
    <div class="subcnt">
        <img width="150px" src="imgs/search-online.png"/>
                  <h4>Search Books</h4>
                  <p class="text-justify">In India, the Copyright Act has a limited clause in its “fair dealing” provision allowing libraries to store digital copies of works already in their possession</p>
        </div>
    <div class="subcnt">
        <img width="150px" src="imgs/defaulters-list.png"/>
                  <h4>Defaulter List</h4>
                  <p class="text-justify">In India, the Copyright Act has a limited clause in its “fair dealing” provision allowing libraries to store digital copies of works already in their possession</p>
    </div>
</div>




