@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Terms and Condition</h1>
<p>1. License Grant. Subject to the terms of this Agreement, Library and Information Resources Network, Inc. and its affiliates (“LIRN”) hereby grant to Customer a non-exclusive, non-transferable license (the “License”) for Customer and its Authorized Users to access and use the products and services listed on Customer’s approved Quote (the “Service”) solely at Customer’s principal location and those locations listed on the Additional Sites Schedule. Access and use of the Service is only for the internal, research purposes of Customer and/or its Authorized Users as further described in Exhibit A. Additional Sites may be added upon written notice to LIRN and payment of additional fees, if applicable. Customer does not acquire any intellectual property ownership in the Service or any associated software, systems, documentation, content, other materials and/or improvements made thereto, including improvements based upon customer feedback. All such rights and interests remain in LIRN and its licensors.

<br /> <br />2. Authorized Users. “Authorized User” means only: (a) For schools and other academic institutions: currently enrolled students, faculty, staff, and visiting scholars, as well as walk-in patrons while they are on-site; and (b) For other types of organizations: employees and independent contractors, while performing their work. Authorized Users excludes Customer’s corporate affiliates, academic bookstores, and alumni unless those users are expressly included and reflected on the Quote or Additional Sites Schedule.

<br /> <br />3. Secure/Remote Access. All access and use of the Service must be made via a secure network and secure authentication methods. Use of the Service by remote access is allowed unless otherwise stated on the Quote. Customer will strictly limit any remote access to its Authorized Users through the use of secure methods of user verification. Customer will promptly notify LIRN if Customer believes security has been compromised. Online posting of passwords, or otherwise enabling access for the benefit of non-subscribing institutions or users, is strictly prohibited.

<br /><br />4. Updates to the Service. LIRN will announce any substantial modifications of information, databases, materials, capabilities, or services within the Service by email to Customer’s representatives who sign up to receive updates. These changes shall be subject to the terms and conditions of this Agreement, and shall not materially alter use of the Service.

<br /><br />5. Supplemental Terms. Some of the content included in the Service has conditions of use applicable solely to such content. Links to content-specific conditions are clearly displayed with the associated content and will not materially alter use of the Service. Where third-party databases and certain special content types are subject to special terms, such terms and conditions shall be clearly referenced on the Quote.</p>